<script lang="ts" setup>
import { ref } from "vue";
const Angry = ref("Angry");
const Cute = ref("Cute");
const Excited = ref("Excited");
const Pain = ref("Pain");
const Shocked = ref("Shocked");
const Smile = ref("Smile");
const defaultText = ref("Angry");
function chengeText(text: any) {
  defaultText.value = text;
  return defaultText;
}
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <v-img
          v-if="defaultText === 'Angry'"
          src="../../public/angry.png"
          width="500"
        ></v-img>
        <v-img
          v-if="defaultText === 'Cute'"
          src="../../public/cute.png"
          width="500"
        ></v-img>
        <v-img
          v-if="defaultText === 'Excited'"
          src="../../public/Excited.png"
          width="500"
        ></v-img>
        <v-img
          v-if="defaultText === 'Pain'"
          src="../../public/Pain.png"
          width="500"
        ></v-img>
        <v-img
          v-if="defaultText === 'Shocked'"
          src="../../public/Shocked.png"
          width="500"
        ></v-img>
        <v-img
          v-if="defaultText === 'Smile'"
          src="../../public/Smile.png"
          width="500"
        ></v-img>
      </v-col>

      <v-col>
        <div>
          <h1 class="text-center">{{ defaultText }}</h1>
        </div>
        <br />
        <div>
          <v-btn
            v-bind:color="defaultText === Cute ? 'yellow' : 'white'"
            width="500"
            height="50"
            @click="chengeText(Cute)"
            >{{ Cute }}</v-btn
          >
        </div>
        <br />
        <div>
          <v-btn
            v-bind:color="defaultText === Excited ? 'yellow' : 'white'"
            width="500"
            height="50"
            @click="chengeText(Excited)"
            >{{ Excited }}</v-btn
          >
        </div>
        <br />
        <div>
          <v-btn
            v-bind:color="defaultText === Pain ? 'yellow' : 'white'"
            width="500"
            height="50"
            @click="chengeText(Pain)"
            >{{ Pain }}</v-btn
          >
        </div>
        <br />
        <div>
          <v-btn
            v-bind:color="defaultText === Shocked ? 'yellow' : 'white'"
            width="500"
            height="50"
            @click="chengeText(Shocked)"
            >{{ Shocked }}</v-btn
          >
        </div>
        <br />
        <div>
          <v-btn
            v-bind:color="defaultText === Smile ? 'yellow' : 'white'"
            width="500"
            height="50"
            @click="chengeText(Smile)"
            >{{ Smile }}</v-btn
          >
        </div>
        <br />
        <div>
          <v-btn
            v-bind:color="defaultText === Angry ? 'yellow' : 'white'"
            width="500"
            height="50"
            @click="chengeText(Angry)"
            >{{ Angry }}</v-btn
          >
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.v-btn {
  justify-items: center;
}
</style>
