<script lang="ts" setup>
import { ref } from "vue";
const valid = ref(true);
const defaultnum = ref("0");
</script>

<template>
  <v-container>
    <v-text-field
      label="Please input Number"
      v-model="defaultnum"
      :rules="[(v) => !!v || 'Number is not empty!!!']"
      required
    ></v-text-field>
  </v-container>

  <v-container>
    <v-row>
      <v-col cols="1" v-for="n in parseInt(defaultnum)" :key="n">
        {{ n }}
      </v-col>
    </v-row>
  </v-container>
</template>
