<script setup lang="ts">
import { ref } from "vue";
const First = ref(0);
let Second = ref(0);
function Increase() {
  First.value++;
  secondChange();
  return First;
}
function Decrease() {
  if (First.value != 0) {
    First.value--;
  }
  secondChange();
  return First;
}
function secondChange() {
  Second.value = First.value * 2;
  return Second;
}
</script>
<template>
  <v-row>
    <v-col>
      <h2>First Component</h2>
      <h2>{{ First }}</h2>
      <div>
        <br />
        <v-btn @click="Increase()">Increase</v-btn>
      </div>
    </v-col>
    <v-col>
      <h2>Second Component</h2>
      <h2>{{ Second }}</h2>
      <br />
      <div>
        <v-btn @click="Decrease()">Decrease</v-btn>
      </div>
    </v-col>
  </v-row>
</template>
