<script lang="ts" setup>
import { ref, computed } from "vue";

let sum = computed(function () {
  return getProduct.value.reduce((Sum, order) => order.price + Sum, 0);
});

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);

const addProduct = (id: number): void => {
  const index = products.value.findIndex((item) => item.id === id);
  getProduct.value.push(products.value[index]);
};

interface product {
  id: number;
  name: string;
  price: number;
}

const getProduct = ref<product[]>([]);
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <v-container class="con-f">
          <v-row>
            <v-col v-for="item in products" :key="item.id">
              <v-card class="text-center" style="height: 120px; width: 150px">
                <v-card-title>
                  {{ item.name }}
                </v-card-title>
                <v-card-subtitle>
                  {{ item.price }}
                </v-card-subtitle>
                <v-btn @click="addProduct(item.id)">ADD</v-btn>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>

      <v-col cols="6">
        <v-table class="con-f">
          <thead>
            <tr class="text-body-2">
              <th>id</th>
              <th>name</th>
              <th>price</th>
            </tr>
          </thead>
          <tbody v-if="sum > 0">
            <tr v-for="(item, index) in getProduct" :key="item.id">
              <td>{{ index + 1 }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.price }}</td>
            </tr>
          </tbody>
          <tbody v-else class="text-center">
            <td></td>
            <td class="text-h6">No data</td>
            <td></td>
          </tbody>
        </v-table>

        <v-divider style="border-style: dashed" class="mt-2"></v-divider>
        <v-container>
          <v-row>
            <v-col>
              <h1>Sum :</h1>
            </v-col>
            <v-col>
              <h1>{{ sum }}</h1>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<style>
.con-f {
  max-height: 70vh;
  overflow-y: auto;
  flex-direction: column;
}
</style>
